%p#notice= notice

%p
  %b Name:
  = @group.name
  %ul
  %b Members:
  - @group.users.each do |user|
    %li=link_to user.email, user


= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path

= button_to 'Join group', member_associations_path(group_id: @group.id), method: :post unless current_user.belongs_to_group?(@group)
