%p#notice= notice

%p
  %b Name:
  = @user.name
  %ul
  %b Groups:
  - @user.groups.each do |group|
    %li= link_to group.name, group


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
